language: r
sudo: false
cache: packages

r:
 - release
   before_cache: Rscript -e 'remotes::install_cran("pkgdown")'
   deploy:
     provider: script
     script: Rscript -e 'pkgdown::deploy_site_github()'
     skip_cleanup: true
 - devel
 - oldrel

after_success:
  - Rscript -e 'covr::codecov()'
  
